@font-face {
    font-family: BlackList;
    src: url("fonts/TheBlacklist.ttf");
}
@font-face {
    font-family: Hunters;
    src: url("fonts/Hunters.otf");
}


* {
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
}
body {
    font-family: Arial;
    background-color: black;
}

#result {
    background-image: url("images/wood.png");


}

#banner-container {
    object-fit: fill;
    width: 100%;
    height: 30vh;
    background-image: url("images/bookshelf2.jpg");
}

#banner-title {
    font-family: Hunters;
    transform: translateY(60%);
    height: 50%;
    width: 100%;
    letter-spacing: 0.2em;
    text-align: center;
    color: white;
    font-size: 5em;
    font-weight: bold;
}

#search-bar-container {
    transform: translateY(-50%);
    width: 100%;
    height: 2em;
}

#search-bar {
    float: left;
    height: 100%;
    width: 70%;
    border : 3px solid black;
    border-right: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-left: 10%;
    padding-left: 2%;
    background-color: white;
}

#search-button {
    float: left;
    width: 5%;
    height: 120%;
    cursor: pointer;
    border:  3px solid black;
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#search-button:hover {
    background-color: grey;
}

#result-container {
    min-height: 80vh;
    height: fit-content;
    width: 100%;
}

#result-message {
    clear: both;
    color: white;
    width: 100%;
    text-align: center;
}
#result-grid {
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}


.result-element {
    margin: 10%;
    width: 80%;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.result-element:hover {
    scale: 105%;
}
.result-element-image-container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7em;
}

.result-element-image:hover {
    cursor: pointer;
    opacity: 70%;
}

.result-element-image {
    height: 100%;
}


#result-grid p {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 4%;
    overflow: hidden;
}
.result-element-title {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.result-element-author {
    font-size: 0.9em;
    color: grey;
}

.result-element-publishers {
    font-size: 0.9em;
    color: grey;
}

.result-element-subjects {
    font-size: 0.9em;
    color: grey;
}

.result-element-highlights {
    font-size: 0.9em;
    color: grey;
    font-style: italic;
}

.blackBold {
    color: black;
    font-weight: bold;
}
.black {
    color: black;
}
.result-element-legend {
    margin-top: 2%;
    width: 100%;
    text-align: center;
    color: black;
    padding-bottom: 5%;
}




footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #2f2620;

}

#footer-text {
    height: fit-content;
    text-align: center;
    color: grey;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 950px) {

    #result-grid {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}


@media screen and (max-width: 750px) {

    #result-grid {
        grid-template-columns: 1fr 1fr;
    }

    #search-bar {
        width: 65%;

    }

    #search-button {
        width: 10%;
    }

}


@media screen and (max-width: 550px) {

    #banner-title {
        font-size: 3.0em;
    }
    #result-grid {
        grid-template-columns: 1fr;
    }
}

